
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# temp only
tests/tempTest.spec.ts
tests/pageObjects/BillsPage.ts
tests/pageObjects/TopupPage.ts
tests/pageObjects/TopupPageConvertedSeleniumCode.ts
tests/testCases/TopupTestsConvertedSeleniumCode.spec.ts
tests/testCases/TopupTests.spec.ts
tests/testCases/PayBill.spec.ts
tests/testCases/LoginValidationTests.spec.ts   
