# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
playwright-report/
test-results/
session.json
bug-report-assets/
.env
.env.*

# temp only

